<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медична Система</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Ви можете додати тут додаткові стилі або скрипти -->
</head>
<body>
    <header>
        <nav>
            <h1>Ласкаво просимо до Медичної Системи</h1>
            <!-- Місце для навігаційного меню -->
            <ul>
                <li><a href="{% url 'home' %}">Головна</a></li>
                <!-- Додайте додаткові посилання тут -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Тут буде розміщений унікальний контент інших шаблонів -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2023 Медична Система. Всі права захищені.</p>
    </footer>

    <!-- Ви можете додати зовнішні JS скрипти тут -->
</body>
</html>
